.form{
	width: 80%;
	margin: auto;
	border: 1px solid black;
	padding: 30px;
}

.input-wrapper{
	padding: 15px;
}
label{
	margin-right: 10px;
}

input{
	height: 30px;
}

.error-input{
	color: #cc0000;
}
